/* ----------------------------- */
/* HTML ELEMENTS */
/* ----------------------------- */

a {
    color: white;
}

body {
    color:rgb(255, 255, 255);
    height: 100%;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 35px;
    font-weight: 400;
}

h4 {
    font-size: 65px;
}

h1, h2, h3, ul {
    text-align: center;
}

h2.sectionHeading:before {
    left: 0;
}

h2.sectionHeading {
    position: relative;
}

h2.sectionHeading:after {
    right: 0;
}

h2.sectionHeading:before, h2.sectionHeading:after {
    position: absolute;
    top: 50%;
    display: block;
    width: 30%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    content: ""
}

i {
    align-content: center;
    font-size: 80px;
    max-width: 100%;
}

li {
    display: inline;
    margin: 0 30px 0 0px;
}

p {
    margin-bottom: 0;
}

section {
    padding: 150px 0 100px 0;
}

ul {
    margin-top: 20px;
}

/* ----------------------------- */
/* CLASSES  */
/* ----------------------------- */

.card {
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
}

.card-body {
    color: black;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    object-fit: cover;
    width: 100%
}

/* .cardImage {
    max-height: 15vw;
    width:20vw;
}

.cardText {
    font-size: 1.1vw;
} */

.cardTitle {
    text-align: center;
}


.contactInfo {
    margin: 0 auto;
    /* max-width: 300px; */
}

.contactMe {
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 5px 40px 5px 40px;
    display: inline-block;
}

.fa-envelope {
    font-size: 1rem;
    margin-right: 5px;
}

.footerText {
    text-align: center;
    margin: 10px 0 10px 0;
}

.iconDiv {

}

.navbar-nav {
    align-content: center;
    margin: 0 auto;
    width:31%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

.progressTitle {
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    font-size: 2vw;
    margin: 10px 0 20px 0;
}

.progress {
        /* height: 2.5vw; */
    margin: 0 0 50px 0;
}

.progressTag {
    top: 0;
    left: 0;
    position: relative;
}

.progressPercentage {
    top: 0;
    left: 0;
    position: relative;
}

.sectionText {
    font-size: 30px;
    margin: 50px auto 50px auto;
}

.seperator {
    border-top: 5px solid rgba(255, 255, 255, 0.75);
    /* margin-bottom: 0; */
    width: 30%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}


/* ----------------------------- */
/* IDS */
/* ----------------------------- */


#about {
    background: rgba(20, 126, 197, 0.747);
}

#blog {
    background: rgba(209, 192, 41, 0.781);
}

#content {

}

#footer {
    background: rgba(0, 0, 0, 0.753);
    text-align: center;
}

#header {
    background-color: rgb(75, 72, 72);
    border-bottom: 3px solid #00A1A7;
    width: 100%;
    position: fixed;
    z-index: 11;
}

#logo {
    display: inline-block;
    height: 52px;
    width: 52px;
}

#main {
    background-color: rgba(5, 4, 3, 0.712);
    text-align: center;
}

#navbarNav {
    align-content: center;

}

#profilePic {
    border-radius: 20px;
    object-fit: contain;
    max-height: 300px;
}

#projects {
    background: rgba(243, 51, 51, 0.527);
}

#stickyNav {
    background: black;
}






/* Media Queries */

@media (max-width: 992px) {


}
  
@media (max-width: 768px) {
  


}
  
@media (max-width: 640px) {
  

  
}

@media (max-width: 426px) {

    h2 {
        font-size: 28px;
    }

    h2.sectionHeading:before, h2.sectionHeading:after {
        width: 25%;

    }

    h3 {
        font-size: 25px;
        font-weight: 400;
    }

    h4 {
        font-size: 45px;
        margin: 80px 0 10px 0;
    }

    i {
        font-size: 40px;
    }

    #profilePic {
        max-width: 350px; 
    }

    .progressTitle {
        font-size: 20px;
        margin: 10px 0 20px 0;
    }

    section {
        padding: 50px 0 50px 0;
    }

    .sectionText {
        font-size: 20px;
        margin: 20px auto 20px auto;
    }

}
